// Variables
$easing: cubic-bezier(0.41, 0.18, 0.76, 0.96);


// Base
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
img {
	max-width: 100%;
}
main > *:not(:first-child) {
	margin-top: 40px;
}

// Rotator : Base
.rotator {
	display: inline-flex;
	overflow: hidden;
	position: relative;

	// Slide
	&__slide {
		opacity: 0;
		position: absolute;
		transition: opacity 500ms $easing, z-index 500ms $easing;
		z-index: 1;
	
		// Current Slide
		&--current {
			opacity: 1;
			position: relative;
			z-index: 2;
		}
	}
	
	// Cloned Picture
	> picture {
		opacity: 0;
		position: relative;
		z-index: 0;
	}
	
	// Bullets
	&__bullets {
		bottom: 20px;
		display: flex;
		justify-content: center;
		left: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 0;
		z-index: 3;
	
		li {
			align-items: center;
			cursor: pointer;
			display: flex;
			height: 40px;
			justify-content: center;
			margin: 0 5px;
			width: 40px;
			overflow: hidden;
		
			&::after {
				background-color: rgba(68,68,68,0.5);
				border-radius: 50%;
				content: '';
				display: block;
				height: 16px;
				width: 16px;
			}
		}
		
		// Active Bullet
		.rotator__bullet--active::after {
			background-color: rgba(255,255,255,0.8);
		}
	}
}


// Rotator : Active
.js-rotator--active {
	
	.rotator__slide--current {
		position: absolute;
	}
}